.game-container{
  margin:2em auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction-container{
  background-color: #F1E9D2;
  padding: 1em 1.5em;
  border-radius: 8px;
  margin:1em 0px 2em 0px;
}

.shelf{
  max-width: 100%;
  background-color: rgba(241, 233, 210,0.5);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
  padding: 20px 20px 40px 20px;
  gap:40px;
  border-radius: 8px;
}
.shelf-board{
  background-image: url('/src/assets/shelf/shelf1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 100%;
  width: 150px;

}

.ingredient{
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: url('./assets/cursor/cursor-grab.png'), grab;

  transition: rotate 250ms ease;
  transform-origin: center;
  will-change: rotate;
}

.ingredient:hover{
  rotate: -15deg;
  cursor: url('./assets/cursor/cursor-grab.png'), grab;

}
.ingredient:active{
  cursor: url('./assets/cursor/cursor-grabbing.png'), grabbing;
}

.full-cauldron-state .ingredient{
  cursor: url('./assets/cursor/cursor-not-allowed.png'), not-allowed;
}

.cauldron-holder{
  width: 100%;
  margin-top: 2em;
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-columns: 1fr 2fr 1fr;
}

.ingredient-list{
  background-color: #F1E9D2;
  margin-right: 2em;
  padding: 40px 20px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: transparent;
  background-image: url('./assets/banerList.png');
  background-repeat: no-repeat;
  width: 320px;
  height: 350px;

  ul{
    list-style: "– ";
    padding-left: 40px;
    max-width: 200px;
  }
  p{
    max-width: 200px;
    padding-left: 50px;
  }
}

.cauldron > img{
  width: 320px;
  background-color: transparent;
  align-self: end;
}
.cauldron{
  position: relative;
}

.cauldron.bubbling::after{
  content: " ";
  display: inline-block;
  background-color: transparent;
  background-image: url('./assets/cauldron/bubbles-spritesheet.png');
  width: 225px;
  height: 135px;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  left: 30px;
  animation: cauldron-bubbles 1s steps(5) infinite;
  will-change: background-position;
}

@keyframes cauldron-bubbles {
0%
{
  background-position: 0 0;
}
100% {
    background-position: 0 -675px;
  }
}

.buttons{
  display: flex;
  gap:1em;
  justify-content: center;
  align-items: center;
  margin:1em 0px 3em 0px;
  background: #F1E9D2;
  padding: 20px 40px;
  border-radius: 8px;

  background-color: transparent;
  background-image: url('./assets/banerBtn.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 305px;
  height: 167px;

  button{
    margin-top: 0px;
    padding: 10px 35px;
    border-radius: 50px;
    color:#FFF;
    background-color: #3f3826;
    border:none;
    font-family: "Lugrasimo", cursive;
  }
  button:hover,
  button:active{
    background-color: #9D8D5E;
  }
}

.mix-button{
  margin-top: 2em;
  &.full-cauldron-state{
    background-color: #6D3173;
    background: linear-gradient(115deg,
      transparent 35%,
    rgba(239, 211, 242, 0.8) 50%,
    transparent 65%
      ), #6D3173;
    background-size: 300% 100%;
    animation: shimmer 5s linear infinite;
  }
  &.full-cauldron-state:hover{
    background:#EFD3F2;
    background: linear-gradient(115deg,
      transparent 35%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 65%
      ), #EFD3F2;
    background-size: 300% 100%;
    animation: shimmer 5s linear infinite;
    color: #6D3173;
    outline: solid 2px #6D3173;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  80% {
    background-position: 100% 0;
  }
  100% {
    background-position: -50% 0;
  }
}

#potion-dialog{
  color:#3f3826;
  max-width: 680px;
  border: none;
  background-color: transparent;
  overflow: visible;

  .dialog-contents{
    background-color: #F1E9D2;
    background-image: url('./assets/banerModal.png');
    background-color: transparent;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 20px 90px; 
    min-height: 505px;

    .modal-close-btn{
      padding: 10px 35px;
      border-radius: 50px;
      color:#FFF;
      background-color: #3f3826;
      border:none;
      font-family: "Lugrasimo", cursive;
    }
    .modal-close-btn:hover,
    .modal-close-btn:active
    {
      background-color: #9D8D5E;
    }
  }

}

html:has(dialog[open]) {
  overflow: hidden;
}

@media only screen and (max-width: 900px) { 

  .shelf{
    gap: 30px;
    margin: 0px 20px;
  }

  .ingredient-list{
    background-size: contain;
    line-height: 1.75;
    width: 256px;
    height: 280px;

  }
  .cauldron>img{
    width: 256px;
  }
  .cauldron-holder{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  #potion-dialog{
    max-width: 320px;
     .dialog-contents{
          background-size: contain;
          background-image: url('./assets/modalBaner-small.png');
          padding:20px 30px;

          p, h2{
            padding: 15px;
            margin: 0px;
          }
     }
  }
  @media only screen and (max-width: 600px) { 
    .shelf-board{
      width: 120px;
    }
    .cauldron-holder{
      flex-direction: column;
      align-items: center;
    }
    .ingredient-list{
      margin-right: 0px;
      transform: scale(.9);
    }
    .buttons{
      background-size: contain;
      width: 220px;
      padding: 0px 30px 0px 45px;
      gap:0.5em;
      margin: 20px 0px 0px 0px;
    }
  }
}

/*/////*


.ingredient-list{
  background-color: #F1E9D2;
  margin-right: 2em;
  padding: 40px 20px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: transparent;
  background-image: url('./assets/banerList.png');
  background-repeat: no-repeat;
  width: 320px;
  height: 350px;

  ul{
    list-style: "– ";
    padding-left: 40px;
    max-width: 200px;
  }
  p{
    max-width: 200px;
    padding-left: 50px;
  }
}

.cauldron > img{
  width: 320px;
  background-color: transparent;
  align-self: end;
}
.cauldron{
  position: relative;
}

.cauldron.bubbling::after{
  content: " ";
  display: inline-block;
  background-color: transparent;
  background-image: url('./assets/cauldron/bubbles-spritesheet.png');
  width: 225px;
  height: 135px;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  left: 30px;
  animation: cauldron-bubbles 1s steps(5) infinite;
  will-change: background-position;
}
  */