.game-container{
  margin:2em auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelf{
  max-width: 100%;
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
  padding: 20px 20px 40px 20px;
  gap:40px;
}

.ingredient{
  background-color: greenyellow;
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: url('./assets/cursor-grab.png'), grab;
}
.ingredient:active{
  cursor: url('./assets/cursor-grabbing.png'), grabbing;
}

.full-cauldron-state .ingredient{
  cursor: url('./assets/cursor-not-allowed.png'), not-allowed;
}

.cauldron-holder{
  max-width: 100%;
  margin-top: 2em;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-list{
  background-color: yellow;
}

.cauldron{
  background-color: palevioletred;
  width: 300px;
  height: 100px;
  object-fit: contain;
}

.ingredients-list{
  list-style: none;
}

.mix-button{
  margin-top: 2em;
  &.full-cauldron-state{
    background-color: red;
  }
}

button{
  cursor: url('./assets/cursor-pointer.png'), pointer;
}
