:root {
  --bg: #16171d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
  }
}

body {
  margin: 0 auto;
  cursor: url('./assets/cursor.png'), auto; 
}

#root {
  max-width: 100%;
  min-height: 100svh;
}
