@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
:root {
  --bg: #16171d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
  }
}

body {
  margin: 0 auto;
  cursor: url('./assets/cursor/cursor.png'), auto; 
  font-family: "Lugrasimo", cursive;
  color:#3f3826;
  background-color: #f9f6ed;
  background-color: rgba(0, 0, 0, 0.11);
  background-image: url('./assets/bg.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  background-blend-mode: multiply;
}

button,
button:hover{
  cursor: url('./assets/cursor/cursor.png'), pointer;
}

#root {
  max-width: 100%;
  min-height: 100svh;
}